.advantages {
  display: flex;
}

.advantages__item {
  flex-basis: calc(100% / 4);

  &:not(:last-child) {
    margin-right: var(--main-gap);
  }
}

.advantages__title {
  text-transform: uppercase;
}
.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  height: 75px;
}
.advantages__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  margin-bottom: var(--main-gap);

  background-color: var(--background-color-command);
  border-radius: 4px;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}
