.advantages {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(-1 * var(--main-gap));
    margin-left: calc(-1 * var(--main-gap));
  }
}
.advantages__item {
  &:not(:last-child) {
    margin-bottom: var(--main-gap);
  }
}

.advantages__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-bottom: var(--main-gap);
    margin-left: var(--main-gap);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.advantages__title {
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.advantages__text {
  font-size: 14px;
  line-height: 1.71;
}
.advantages__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  margin-bottom: var(--main-gap);

  background-color: var(--background-color-command);
  border-radius: 4px;
}
