.filter {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.filter__item:nth-child(-n + 3) {
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__button {
  border: transparent;
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;

  color: var(--title-color);
  background-color: var(--background-color-command);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;

  transition: color var(--time) var(--timing-function),
    background-color var(--time) var(--timing-function),
    box-shadow var(--time) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-button-filter);
  }
}
