.footer {
  padding: 60px 0;
  background-color: var(--background-color-footer);
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.contacts {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    flex-grow: 1;
  }
}

.address {
  font-style: normal;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.address__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  &--white {
    color: var(--primary-white-color);
  }
}

// ----------NETWORKS

.networks {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.networks__text {
  margin-bottom: 20px;
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.networks__list {
  display: flex;
  justify-content: center;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}
.networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--primary-white-color);

  border-radius: 50%;
  background-color: var(--background-footer-icon);

  transition: background-color var(--time) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.networks__icon {
  fill: currentColor;
}
