.hero {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color-footer);
  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile/header-mob-1x.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile/header-mob-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/header-tab-1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet/header-tab-2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/header-desk-1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/desktop/header-desk-2x.jpg);
    }
  }
}
.hero__title {
  margin-top: 0;
  margin-bottom: 40px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  display: inline-block;
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  font-family: inherit;
  border: transparent;
}
