.section--team-background {
  background-color: var(--background-color-command);
}

.team {
  display: flex;
}

.team__item {
  background-color: var(--primary-white-color);
  box-shadow: var(--box-shadow-color);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: var(--main-gap);
  }
}

.team__card-content {
  text-align: center;
  padding-top: var(--main-gap);
  padding-bottom: var(--main-gap);
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}
.social {
  display: flex;
  padding: 0px 32px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--networks-icons-color);
  width: 44px;
  height: 44px;

  border-radius: 50%;
  transition: background-color var(--time) var(--timing-function),
    color var(--time) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}

.social__icon {
  fill: currentColor;
}
