.logo {
  font-family: 'Raleway', cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--accent-color);
}

.logo__page-header {
  margin-right: 93px;
}
.logo__dark {
  color: var(--logo-black-color);
}
.logo__light {
  color: var(--primary-white-color);
}

.logo__footer {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
